<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}StandAuto{% endblock %}</title>
		{# appel du fichier css situé dans public/build #}
		 {% block stylesheets %}
		       {{ encore_entry_link_tags('app') }}
		 {% endblock %}

    </head>
    <body>
        {% block navbar %}{% endblock %}
        {% block header %}{% endblock %}
        {% block intro %}{% endblock %}
        {% block highlights %}{% endblock %}
        {% block content %}{% endblock %}
        {% block social %}{% endblock %}
        {% block footer %}
	        {% block footer1 %}{% endblock %}
	        {% block footer2 %}{% endblock %}
        {% endblock %}
		{% block javascripts %}
		        {{ encore_entry_script_tags('app') }}
		{% endblock %}
    </body>
</html>
